name: MergeFlow

on:
  push:
    branches: [ dev ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.6
    - name: Install dependecies
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: create env variables
      run: |
        echo "export BASE_URL=${{ secrets.BASE_URL }}" >> .bashrc
        echo "export LOCATION=${{ secrets.LOCATION }}" >> .bashrc
        source ~/.bashrc
    - name: Lint with flake8
      run: |
        flake8 . --count --select=E9,F7,F82,F63 --show-source --statistics
    - name: Test with pytest
      run: |
        pytest -v --disable-warnings
    - name: Pull Request
      run: gh pr create -B master -H dev --title 'Merge dev into master' --body 'Created by Channi'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
